$default-font: "Roboto",  system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$heading-font: "Raleway",  sans-serif;
$nav-font: "Poppins",  sans-serif;

$background-color: #212428;
$default-color: #ffffff;
$heading-color: #ffffff;
$surface-color: #252525;
$contrast-color: #ffffff;
$accent-color: #0078ff;
$nav-background-color: #181a1d;
